if SHIELD_RIBERA_LEFT

config ZMK_KEYBOARD_NAME
    default "Ribera"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RIBERA_LEFT || SHIELD_RIBERA_RIGHT

config ZMK_SPLIT
    default y

endif
